---
layout: base
permalink: /index.html
title: 'Anne Petersen'
description: 'This is the personal website of Anne Petersen.'
blog:
  title: 'Featured Posts'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<div class="wrapper">
  <header class="full | section">
    <div class="wrapper flow region">
      <div>
        <h1 class="" style="color: var(--color-dark);">{{ title }}</h1>
        <p class="subtitle">UX. Digital strategy. Content strategy. In Chicago.</p>
      </div>
      <img src="/assets/images/blog/chicago-skyline-1.gif" alt="The Chicago skyline." />
    </div>

  </header>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>

      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">Colleagues & clients say...</h2>
      <blockquote>
        "Anne Petersen learns things, knows things, does things with speed, alacrity, and aplomb."
      </blockquote>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>Photos</h2>

      <div class="feature |  region region-space-l">
        <custom-masonry layout="thirds">

          {%- for photo in photos -%}
            {% if loop.index0 < 6 %}
              {% include "partials/card-photo.njk" %}
            {% endif %}
          {%- endfor -%}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>

{%- css "local" -%}
  {%- include 'css/photos.css' -%}
{%- endcss -%}