---
layout: base
title: Photos
permalink: /photos/index.html
description: "Some photos."
---

<article class="wrapper">
  <header class="full | section">
    <div class="wrapper flow region">
      <h1 class="" style="color: var(--color-dark);">{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
  </header>
  
  <custom-masonry layout="thirds">
    {% for photo in photos %}
      {% include "partials/card-photo.njk" %}
    {% endfor %}
  </custom-masonry>
</article>