---
layout: base
title: Work
permalink: /work/index.html
description: "Various projects I've worked on."
---

<article class="wrapper">
  <header class="full | section">
    <div class="wrapper flow region" style="--region-space-top: var(--space-xl-2xl)">
      <h1 class="" style="color: var(--color-dark);">{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
  </header>

  <div>
    {% for work in works %}
      {% include "partials/card-work.njk" %}
    {% endfor %}
  </div>
  
  <section>
    <p>
      These are just exerpts: to view my full portfolio, <a href="mailto:annepetersen@gmail.com">contact me</a>.
    </p>
  </section>
</article>

{%- css "local" -%}
  {%- include 'css/work.css' -%}
{%- endcss -%}