.index-content-left {
  grid-column: 1 / 4;
  align-self: center;
}

picture,
.index-content-right {
  grid-column: 4 / 6;
}

@media screen and (max-width: 900px) {
  picture,
  .index-content-left,
  .index-content-right {
    grid-column: 1 / 5;
  }
}